@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap&subset=cyrillic');

body {
    font-family: Montserrat, sans-serif;
}

a {
    text-decoration: none;
}

*, *:before, *:after {
    box-sizing: border-box;
}

.container {
    width: 1160px;
    margin: 0 auto;
    text-align: center;
}

.header-wrap {
    background: url("../img/background/section-1(header).jpg") no-repeat fixed center;
    background-size: cover;
    padding-bottom: 243px;
}

.bg-navbar {
    background-color: rgba(94, 93, 88, 0.6);
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar-logo {
    display: flex;
    text-align: center;
    margin: 27px 0;
    color: #FFFFFF;
    align-items: center;
}

.logo {
    background: url("../img/other/logo.png") no-repeat;
    width: 58px;
    height: 67px;
    margin-right: 6px;
    display: flex;
    align-items: center;
}

.logo p {
    margin: auto;
    font-size: 40px;
    font-weight: bold;
}

.logo-text {
    vertical-align: center;
    font-size: 32px;
}

.logo-text > span {
    font-weight: bold;
    color: #18CFAB;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list-item, .fa-search {
    font-weight: bold;
    font-size: 16px;
    color: #c3c2c1;
    text-transform: uppercase;
    margin-right: 21px;
    cursor: pointer;
}

.nav-list-item:hover {
    color: #18CFAB
}

.fa-search:hover {
    color: #18CFAB

}

.nav-list-item:hover::after {
    content: '';
    display: block;
    height: 2px;
    background-color: #18CFAB;
    position: relative;
    top: 51px;
}

.header-tagline {
    display: block;
    text-align: center;
    margin-top: 264px;
}

.header-tagline > h2 {
    font-weight: bold;
    font-size: 35px;
    text-transform: uppercase;
    color: white;
}

.header-tagline > h2 > span {
    color: #18CFAB
}

.header-tagline > h1 {
    font-weight: bold;
    font-size: 78px;
    text-transform: uppercase;
    color: white;
    margin-top: 22px;
}

.header-tagline > p {
    color: #D4D4D4;
    font-size: 34px;
    text-transform: capitalize;
    margin-top: 22px;
}

.header-button-bar {
    text-align: center;
    margin-top: 134px;
}

.button {
    width: 168px;
    height: 63px;
    color: white;
    text-transform: uppercase;
    background-color: #00CBF6;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    border: 0;
    border-radius: 5px;
    margin-right: 26px;
}

.button:hover {
    background-color: #18CFAB;
}

.button:active {
    transform: translateY(-4px);
}

.squares-option {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.option-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 110px 0;
}

.option-item:nth-child(odd) {
    background-color: #1C2A33;
    color: #18CFAB;
    padding-top: 95px;
}

.option-item:nth-child(even) {
    background-color: #18CFAB;
    color: white;
    padding-top: 105px;
}

.option-item p {
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 40px;
}

.services {
    padding-top: 90px;
}

.title-line {
    color: #4E4E4E;
    font-size: 36px;

}

.title-line::after {
    content: url('../img/other/dbl_line.png');
    display: block;
    margin-top: 20px;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);

}

.services-list-item {
    color: #717171;
    font-size: 16px;
    padding: 30px 0;
    background-color: #F8FCFE;
    border: #F4F5F5 solid 1px;
    cursor: pointer;
    position: relative;
    margin-top: 69px;
}

.active-services {
    background-color: #18CFAB;
    color: white;
    border: #18CFAB solid 1px;
}

.active-services:after {
    content: '';
    position: absolute;
    border: 15px solid transparent;
    border-top: 15px solid #18CFAB;
    bottom: -28px;
    left: 45%
}

.services-list-item:hover {
    border: #18CFAB solid 1px;
}

.services-content {
    padding-top: 25px;
    margin-bottom: 91px;
}

.services-text {
    display: none;
}

.services-photo {
    width: 192px;
    height: 139px;
    margin-right: 15px;
}

.active-content {
    display: flex;
    font-size: 14px;
    text-align: left;
    color: #777777;
    line-height: 1.5;
}

.sale {
    background: url("../img/background/section-2.jpg") no-repeat fixed center;
    background-size: cover;
    text-align: center;
}

.sale-wrap {
    background: rgba(0, 0, 0, 0.70);
    padding: 126px 0;
}

.sale-title {
    font-size: 40px;
    color: #18CFAB;
    text-transform: uppercase;
    font-weight: bold;
}

.sale-subtitle {
    font-size: 16px;
    color: #D8D8D8;
    margin-top: 24px;
    margin-bottom: 74px;
}

.works {
    padding-top: 95px;
    background-color: #E9EDEF;
}

.works-list {
    display: flex;
    justify-content: center;
    margin: 69px 0;
}

.works-list-item {
    color: #717171;
    font-size: 14px;

    padding: 30px 20px;
    border: #DADADA solid 1px;
    cursor: pointer;
}

.works-list-active {
    border: 1px solid #18CFAB;
    color: #18CFAB;
}

.works-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-bottom: 70px;
}

.works-content-item {
    position: relative;
    height: 212px;
    width: 290px;
    perspective: 1000px;
    display: none;
}

.show-item {
    display: block;
}

.item-front, .item-back {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transition: 1s;
    backface-visibility: hidden;
}

.works-content-item:hover .item-front {
    transform: rotateY(180deg);
}

.works-content-item:hover .item-back {
    transform: rotateY(360deg);
}

.item-back {
    border-top: 3px solid #18CFAB;
    padding-top: 47px;
    transform: rotateY(180deg);
}

.icon {
    color: #18CFAB;
    border: 1px solid #18CFAB;
    cursor: pointer;
    border-radius: 50%;
    margin-bottom: 33px;
}

.fa-link {
    padding: 13px 11px;
}

.fa-square {
    padding: 13px 14px;
}

.icon:hover {
    color: white;
    background-color: #18CFAB;
}

.back-text {
    color: #18CFAB;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.back-subtext {
    font-size: 12px;
    color: #8A8A8A;
    margin-bottom: 45px;
}

.load-more {
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 99px;
}

.news {
    padding-top: 82px;
}

.news-container {
    margin-top: 68px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 128px;
}

.news-content {
    position: relative;
    margin-bottom: 45px;
}

.news-date {
    width: 70px;
    height: 68px;
    background-color: #203E38;
    font-size: 16px;
    color: white;
    position: absolute;
    right: 0;
    text-align: center;
    padding: 4px 15px;
    line-height: 2;

}

.news-text {
    text-align: center;
    background-color: #F8FCFE;
}

.news-title {
    font-size: 18px;
    color: #717171;
    font-weight: bold;
    padding: 10px 0;
}

.news-comment {
    font-size: 14px;
    color: #777777;
    padding: 10px 0;
}

.news-content:hover .news-date {
    background-color: #18CFAB;
}

.news-content:hover .news-title {
    color: #18CFAB;
}

.people-reviews {
    background: url("../img/background/section-3.jpg") no-repeat fixed center;
    background-size: cover;
    text-align: center;
}

.reviews-wrap {
    background: rgba(0, 0, 0, 0.50);
    padding: 98px 0 105px;
}

.reviews-wrap > h3 {
    color: white;
    margin-bottom: 66px;
}

.reviews-item {
    display: none;
}

.reviews-active {
    display: block;
}

.reviews-text {
    color: #BBBBBB;
    font-size: 16px;
    line-height: 2;
    margin: 37px 0;
}

.people-name {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #18CFAB;
}

.people-prof {
    color: #BBBBBB;
    font-size: 13px;
    margin: 13px 0 38px;
}

.reviews-item > img {
    cursor: pointer;
    border-radius: 50%;
    border: 12px solid rgba(24, 207, 171, 0.3);
    width: 142px;
    height: 142px;
}

.people-slider {
    display: inline-flex;
    margin-top: 51px;
    align-items: center;
}

.slider-list {
    display: inline-flex;
}

.slider-item > img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 5px solid rgba(24, 207, 171, 0.3);
    cursor: pointer;

}

.slider-item {
    margin: 0 29px;
}

.slider-active {
    position: relative;
    bottom: 16px;
}

.btn {
    color: #BBBBBB;
    padding: 8px 10px;
    border: 1px solid #BBBBBB;
    width: 31px;
    height: 31px;
    cursor: pointer;
    background-color: rgba(28, 28, 28, 0)
}

.btn:hover {
    background-color: #18CFAB;
}

footer {
    text-align: center;
    background-color: #22353F;
    padding: 47px 0;
}

.footer-text {
    color: #AEAEAE;
    font-size: 14px;

}

.footer-text > span {
    color: #18CFAB;
}

.loader {
    width: 200px;
    height: 60px;
    /*margin: 0 auto;*/
    margin-left: 570px;
    transform: translate(-50%, -50%);
    display: none;
}

.circle {
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    background-color: #18CFAB;
    left: 15%;
    transform-origin: 50%;
    animation: circle .5s alternate infinite ease;
}

@keyframes circle {
    0% {
        top: 60px;
        height: 5px;
        border-radius: 50px 50px 25px 25px;
        transform: scaleX(1.7);
    }
    40% {
        height: 20px;
        border-radius: 50%;
        transform: scaleX(1);
    }
    100% {
        top: 0;
    }
}

.circle:nth-child(2) {
    left: 45%;
    animation-delay: .2s;
}

.circle:nth-child(3) {
    left: auto;
    right: 15%;
    animation-delay: .3s;
}

.shadow {
    width: 20px;
    height: 4px;
    border-radius: 50%;
    background-color: rgba(8, 72, 60, 0.5);
    position: absolute;
    top: 62px;
    transform-origin: 50%;
    z-index: -1;
    left: 15%;
    filter: blur(1px);
    animation: shadow .5s alternate infinite ease;
}

@keyframes shadow {
    0% {
        transform: scaleX(1.5);
    }
    40% {
        transform: scaleX(1);
        opacity: .7;
    }
    100% {
        transform: scaleX(.2);
        opacity: .4;
    }
}

.shadow:nth-child(4) {
    left: 45%;
    animation-delay: .2s
}

.shadow:nth-child(5) {
    left: auto;
    right: 15%;
    animation-delay: .3s;
}